body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

td:first-child>label[for*='form_'] {
    font-weight: bold;
}

label[for*='form_'] {
    display: inline;
}

#popup-form {
    display: none;
    opacity: 0.0;
    position: absolute;
    height: 500px;
    width: 400px;
    top: -500px;
    left: 50%;
    margin-left: -200px;
    border: 1px black solid;
    background: lightgray;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.shadow {
    -moz-box-shadow: 3px 3px 5px 6px #888;
    -webkit-box-shadow: 3px 3px 50px 6px #ccc;
    box-shadow: 15px 15px 15px 0px #333;
}

/** hack for yahoo bootstrap problems */
.inesgmap_area img {
    max-width: none;
}

.search_map_box {
    width: 95%;
    height: 400px;
    border: solid 1px #000;
    margin: 0 auto;
}

.bleu {
    color: #0088cc;
}

#form-event, #form-place {
	padding: 10px;
}

.event-image {
	padding-left:-60px;
	margin-top:-20px;
	position: absolute; clip: rect(20px 260px 200px 0px);
	width:300px;}

.footer {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

.footer_hr {
	margin: 40px 0 0 0;
	clear: both; 
	float: none; 
	width: 100%; 
	height: 2px;
	border: none; 
	background: #ddd;
	background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  right bottom,
	  color-stop(0, rgb(255,255,255)),
	  color-stop(0.1, rgb(221,221,221)),
	  color-stop(0.9, rgb(221,221,221)),
	  color-stop(1, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	  left center,
	  rgb(255,255,255) 0%,
	  rgb(201,201,201) 10%,
	  rgb(201,201,201) 90%,
	  rgb(255,255,255) 100%
	);
}

.footer_menu {
	list-style-type:none;
	margin:0;
	padding:0;
}

.footer_menu > li {
	display:inline;
	margin-left: 10px;
	margin-right: 10px;
}

.footer_link {
	display:inline;
	color: rgb(190,190,190);
}

.footer_active {
	color: black;
}

.round_frame {
	font-size: 10pt;
	-moz-border-radius: 40px; 
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    border-radius: 40px;
	background-color: rgb(247,247,247);
	padding: 10px;
}

.report_page_field, .report_page_message {
	width: 100%;
}

.report_page_message {
	height: 200px;
}

.report_page_div {
	width: 400px;
}

.align_right {
	text-align: right;
}

/**
 * Gmap
 */
#gmap_lokal {
    width: 450px;
    padding: 10px;
}

#gmap_lokal div.name {
    font: bold 15px tahoma, sans-serif;
    color: #000;
    border-bottom: solid 2px #444;
    padding-bottom: 5px;
    margin-bottom: 7px;
}

#gmap_lokal div.photo {
    float: left;
    padding: 0 10px 10px 0;
}

#gmap_lokal div.photo img {
    width: 80px;
    height: 80px;
}

#gmap_lokal div.desc {
    font: normal 12px tahoma;
    color: #333;
    padding: 0 0 10px 0;
}

#gmap_lokal div.open_time span {
    background: url('../img/glyphicons-halflings.png') -47px -23px no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    padding: 0 5px 0 0;
}

#gmap_lokal div.address span {
    background: url('../img/glyphicons-halflings.png') 0 -23px no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    padding: 0 5px 0 0;
}

#gmap_lokal div.phone span {
    background: url('../img/glyphicons-halflings.png') -72px 0 no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    padding: 0 5px 0 0;
}

#gmap_lokal div.email span {
    background: url('../img/glyphicons-halflings.png') 0 -72px no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    padding: 0 5px 0 0;
}

#gmap_lokal div.website span {
    background: url('../img/glyphicons-halflings.png') 0 -48px no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    padding: 0 5px 0 0;
}

#gmap_lokal div.additional {
    padding: 10px 10px 0 10px;
    font: normal 11px tahoma;
}

#gmap_lokal div.additional h1 {
    font: bold 12px tahoma;
    margin: 0;
    padding: 0;
}